@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  text-rendering: optimizeLegibility;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

@layer base {
  @font-face {
    font-family: 'Carbon';
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/carbon.woff2') format('woff2');
  }
}
